Repository wix/ricos, pull requests merged in 2018-08, with the labels that each got.

#104 Fix createBaseInsertPluginButton addBlock
  CHANGELOG.md
  packages/common/src/Base/createBaseInsertPluginButton.jsx
Labels: bug

#111 [examples] infra(surge auto deploy)
  examples/editor/.gitignore
  examples/editor/package.json
  examples/viewer/.gitignore
  examples/viewer/package.json
  scripts/customPublish.js
  scripts/deployExamples.js
Labels: infra

#115 Tooltip performance fix
  CHANGELOG.md
  packages/common/src/Components/LinkPanel.jsx
  packages/common/src/Components/TextInput.jsx
  packages/common/src/Components/Tooltip.jsx
Labels: performance

#116 UI Settings: allow to customize link option UI behaviors
  CHANGELOG.md
  docs/ToolbarCustomization.md
  docs/UiSettings.md
  examples/editor/src/App.jsx
  examples/editor/src/PluginsConfig.js
  packages/common/src/Base/baseToolbarButton.jsx
  packages/common/src/Base/buttons/BlockLinkButton.jsx
  packages/common/src/Base/buttons/BlockLinkPanel.jsx
  packages/common/src/Base/createBasePlugin.jsx
  packages/common/src/Base/createBaseToolbar.jsx
  packages/common/src/Components/LinkPanel.jsx
  packages/common/src/Components/LinkPanelContainer.jsx
  packages/editor/src/RichContentEditor/RichContentEditor.jsx
  packages/editor/src/RichContentEditor/Toolbars/InlineToolbar/createInlineTextToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/MobileBlockLinkModal.jsx
  packages/editor/src/RichContentEditor/Toolbars/MobileLinkModal.jsx
  packages/editor/src/RichContentEditor/Toolbars/MobileTextLinkModal.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/StaticToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/createMobileToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/createStaticTextToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/buttons/utils/getTextButtonsFromList.js
  packages/editor/src/RichContentEditor/Toolbars/createEditorToolbars.js
  packages/plugin-code-block/src/createCodeBlockPlugin.js
  packages/plugin-divider/src/createDividerPlugin.js
  packages/plugin-emoji/src/createEmojiPlugin.jsx
  packages/plugin-gallery/src/components/gallery-controls/gallery-image-settings.js
  packages/plugin-gallery/src/components/gallery-controls/gallery-items-sortable.js
  packages/plugin-gallery/src/components/gallery-settings-modal.js
  packages/plugin-gallery/src/createGalleryPlugin.js
  packages/plugin-hashtag/src/createHashtagPlugin.js
  packages/plugin-html/src/createHtmlPlugin.js
  packages/plugin-image/src/createImagePlugin.js
  packages/plugin-image/src/toolbar/createToolbar.js
  packages/plugin-image/src/toolbar/image-settings.js
  packages/plugin-image/src/toolbar/inline-buttons.jsx
  packages/plugin-link/src/createLinkPlugin.js
  packages/plugin-link/src/toolbar/TextLinkButton.jsx
  packages/plugin-link/src/toolbar/TextLinkPanel.jsx
  packages/plugin-link/src/toolbar/createLinkToolbar.js
  packages/plugin-mentions/src/createMentionsPlugin.js
  packages/plugin-video/src/createVideoPlugin.js
Labels: config-api
