Repository wix/ricos, pull requests merged in 2018-10, with the labels that each got.

#149 Toolbar decoration
  CHANGELOG.md
  docs/ToolbarCustomization.md
  docs/assets/chevron.png
  examples/editor/src/Components/InlineToolbarDecoration.jsx
  examples/editor/src/Components/InlineToolbarDecoration.scss
  examples/editor/src/Components/PluginToolbarDecoration.jsx
  examples/editor/src/Components/SideToolbarDecoration.jsx
  examples/editor/src/Components/StaticToolbarDecoration.jsx
  examples/editor/src/PluginsConfig.js
  examples/editor/src/theme/toolbars/inline-toolbar.theme.scss
  examples/editor/src/theme/toolbars/side-toolbar.theme.scss
  packages/common/src/Base/createBaseToolbar.jsx
  packages/common/src/Base/default-toolbar-settings.js
  packages/common/statics/styles/toolbar-button.scss
  packages/editor/src/RichContentEditor/Toolbars/InlineToolbar/InlineToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/InlineToolbar/createInlineTextToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/InlineToolbar/createInlineToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/SideToolbar/SideToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/SideToolbar/createSideToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/StaticToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/createFooterToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/createMobileToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/createStaticTextToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/StaticToolbar/createStaticToolbar.jsx
  packages/editor/src/RichContentEditor/Toolbars/createEditorToolbars.js
  packages/editor/src/RichContentEditor/Toolbars/default-toolbar-settings.js
  packages/editor/statics/styles/side-toolbar-wrapper.scss
  packages/editor/statics/styles/side-toolbar.scss
Labels: config-api, enhancement

#157 [viewer] add RTL support
  CHANGELOG.md
  packages/viewer/src/Preview.jsx
  packages/viewer/src/RichContentViewer.jsx
  packages/viewer/statics/rich-content-viewer.scss
Labels: enhancement

#156 Fix soundcloud modal layout in mobile view
  CHANGELOG.md
  packages/editor/statics/locale/messages_en.json
  packages/plugin-sound-cloud/src/toolbar/insert-buttons.jsx
  packages/plugin-sound-cloud/src/toolbar/soundCloudURLInputModal.jsx
Labels: enhancement, mobile

#159 Modal decoration API
  CHANGELOG.md
  docs/plugin-development-guidelines/ModalDialogs.md
  packages/common/src/Base/baseToolbarButton.jsx
  packages/common/src/Base/createBaseInsertPluginButton.jsx
  packages/common/src/Modals/RichContentModal.jsx
  packages/common/src/consts.js
  packages/common/src/index.js
Labels: config-api, docs, enhancement

#158 [plugin-link] improve(config): Support custom onClick handler
  CHANGELOG.md
  examples/editor/src/PluginsConfig.js
  examples/viewer/src/App.jsx
  packages/plugin-link/src/DynamicLink.jsx
  packages/plugin-link/src/LinkDecorator.jsx
  packages/plugin-link/src/LinkViewer.jsx
  packages/plugin-link/src/createLinkPlugin.js
Labels: enhancement

#171 SEO demand: render list item content wrapped in <p> tags
  CHANGELOG.md
  packages/editor/src/RichContentEditor/RichContentEditor.jsx
  packages/editor/src/RichContentEditor/getBlockRenderMap.js
  packages/viewer/src/Preview.jsx
Labels: enhancement

#175 Fix link issues
  CHANGELOG.md
  packages/plugin-link/src/LinkParseStrategy.js
  packages/viewer/src/PluginsViewer.jsx
Labels: bug

#176 Viewer automatically applies correct text direction accordingly to block text symbols
  CHANGELOG.md
  examples/viewer/src/TestData/initial-state.js
  package-lock.json
  packages/viewer/package-lock.json
  packages/viewer/package.json
  packages/viewer/src/Preview.jsx
  packages/viewer/src/RichContentViewer.jsx
  packages/viewer/src/utils/textUtils.js
Labels: breaking-change!, enhancement
