Repository wix/ricos, pull requests merged in 2020-02, with the labels that each got.

#678 [storybook] refactor(wrapper): theming
  examples/storybook/stories/Components/ThemesExample.js
  examples/storybook/stories/Editor/Themes.js
  packages/editor/web/src/RichContentEditor/I18nRichContentEditor.jsx
  packages/plugin-button/web/src/constants.js
  packages/plugin-button/web/src/editor.js
  packages/plugin-button/web/src/viewer.js
  packages/plugin-divider/web/src/editor.js
  packages/plugin-divider/web/src/viewer.js
  packages/plugin-gallery/web/src/editor.js
  packages/plugin-gallery/web/src/viewer.js
  packages/plugin-html/web/src/editor.js
  packages/plugin-html/web/src/util.js
  packages/plugin-html/web/src/viewer.js
  packages/plugin-image/web/src/editor.js
  packages/plugin-image/web/src/viewer.js
  packages/wrapper/web/src/PluginsStrategy/PluginsStrategyProvider.js
  packages/wrapper/web/src/PluginsStrategy/PluginsStrategyProviderViewer.js
  packages/wrapper/web/src/PluginsStrategyViewer/index.js
  packages/wrapper/web/src/RichContentWrapper.js
  packages/wrapper/web/src/ThemeStrategy/RceTheme.js
  packages/wrapper/web/src/ThemeStrategy/ThemeStrategyProvider.js
  packages/wrapper/web/src/ThemeStrategy/themes.js
  packages/wrapper/web/src/ViewerWrapper.js
  packages/wrapper/web/src/index.js
  plugins-bundle-analyzer/src/viewer-with-wrapper.js
Labels: infra

#693 [storybook] story(galleryPlugin): expand & legecay support
  e2e/tests/fixtures/gallery-with-title-and-link.json
  examples/storybook/package.json
  examples/storybook/stories/Components/StoryParts.js
  examples/storybook/stories/Plugins/GalleryPlugin.js
  examples/storybook/stories/Plugins/index.js
  examples/storybook/stories/index.js
  examples/storybook/stories/styles.global.scss
Labels: in progress

#700 [all] refactor(package.json): match dependencies versions to root package.json
  examples/main/package.json
  examples/storybook/package.json
  examples/viewer-ssr/package.json
  packages/common/web/package.json
  packages/editor-common/web/package.json
  packages/editor/web/package.json
  packages/fullScreen/web/package.json
  packages/plugin-button/web/package.json
  packages/plugin-code-block/web/package.json
  packages/plugin-divider/web/package.json
  packages/plugin-emoji/web/package.json
  packages/plugin-file-upload/web/package.json
  packages/plugin-gallery/web/package.json
  packages/plugin-giphy/web/package.json
  packages/plugin-hashtag/web/package.json
  packages/plugin-headers-markdown/web/package.json
  packages/plugin-html/web/package.json
  packages/plugin-image/web/package.json
  packages/plugin-line-spacing/web/package.json
  packages/plugin-link/web/package.json
  packages/plugin-map/web/package.json
  packages/plugin-mentions/web/package.json
  packages/plugin-sound-cloud/web/package.json
  packages/plugin-text-color/web/package.json
  packages/plugin-undo-redo/web/package.json
  packages/plugin-video/web/package.json
  packages/preview/web/package.json
  packages/viewer/web/package.json
  packages/wrapper/web/package.json
  plugins-bundle-analyzer/package.json
Labels: infra

#703 [wrapper] code refactoring
  package-lock.json
  packages/wrapper/web/__tests__/RceTheme.spec.js
  packages/wrapper/web/package.json
  packages/wrapper/web/src/EngineWrapper.jsx
  packages/wrapper/web/src/PluginsStrategy/index.js
  packages/wrapper/web/src/RichContentWrapper.jsx
  packages/wrapper/web/src/ThemeStrategy/index.js
  packages/wrapper/web/src/index.js
  packages/wrapper/web/src/pluginsStrategy/pluginsStrategyProvider.js
  packages/wrapper/web/src/themeStrategy/ThemeGenerator.js
  packages/wrapper/web/src/themeStrategy/ThemeGenerator.spec.js
  packages/wrapper/web/src/themeStrategy/defaults.js
  packages/wrapper/web/src/themeStrategy/themeStrategyProvider.js
  packages/wrapper/web/tests/palettesExample.js
Labels: infra

#701 [wrapper] tests(strategies): tests for pluginsStrategy & themeStrategy
  packages/wrapper/web/__mocks__/fileMock.js
  packages/wrapper/web/__mocks__/styleMock.js
  packages/wrapper/web/src/pluginsStrategy/pluginsStrategyProvider.js
  packages/wrapper/web/src/pluginsStrategy/pluginsStrategyProvider.spec.js
  packages/wrapper/web/src/themeStrategy/ThemeGenerator.js
  packages/wrapper/web/src/themeStrategy/ThemeGenerator.spec.js
  packages/wrapper/web/src/themeStrategy/themeStrategyProvider.js
  packages/wrapper/web/src/themeStrategy/themeStrategyProvider.spec.js
Labels: in progress, infra

#710 [storybook] fix(ViewerWrapper): decorators
  examples/storybook/stories/Components/EditorWrapper.js
  examples/storybook/stories/Components/ViewerWrapper.js
  examples/storybook/stories/Wrapper/Themes.js
  examples/storybook/stories/styles.global.scss
  package-lock.json
  packages/plugin-button/web/src/viewer.js
  packages/plugin-code-block/web/src/viewer.js
  packages/plugin-divider/web/src/viewer.js
  packages/plugin-emoji/web/src/viewer.js
  packages/plugin-file-upload/web/src/viewer.js
  packages/plugin-gallery/web/src/viewer.js
  packages/plugin-giphy/web/src/viewer.js
  packages/plugin-hashtag/web/src/viewer.js
  packages/plugin-headers-markdown/web/src/viewer.js
  packages/plugin-html/web/src/viewer.js
  packages/plugin-image/web/src/viewer.js
  packages/plugin-line-spacing/web/src/viewer.js
  packages/plugin-link/web/src/editor.js
  packages/plugin-link/web/src/viewer.js
  packages/plugin-map/web/src/viewer.js
  packages/plugin-mentions/web/src/viewer.js
  packages/plugin-sound-cloud/web/src/viewer.js
  packages/plugin-undo-redo/web/src/viewer.js
  packages/plugin-video/web/src/viewer.js
  packages/wrapper/web/src/EngineWrapper.jsx
  packages/wrapper/web/src/pluginsStrategy/pluginsStrategyProvider.js
Labels: infra

#711 [wrapper] fix(viewer): enable all plugins
  examples/storybook/stories/Components/ViewerWrapper.js
  packages/plugin-code-block/web/src/viewer.js
  packages/plugin-emoji/web/src/viewer.js
  packages/plugin-headers-markdown/web/src/viewer.js
  packages/plugin-undo-redo/web/src/viewer.js
  packages/wrapper/web/src/pluginsStrategy/pluginsStrategyProvider.js
Labels: infra

#717 [wrappers] feat(plugins): styles by palette
  e2e/tests/fixtures/intro.json
  e2e/tests/fixtures/themeing-info.json
  examples/storybook/stories/Components/EditorWrapper.js
  packages/plugin-divider/web/src/constants.js
  packages/plugin-divider/web/src/editor.js
  packages/plugin-divider/web/src/viewer.js
  packages/plugin-hashtag/web/src/defaults.js
  packages/plugin-hashtag/web/src/editor.js
  packages/plugin-hashtag/web/src/viewer.js
  packages/plugin-link/web/src/defaults.js
  packages/plugin-link/web/src/editor.js
  packages/plugin-link/web/src/viewer.js
  packages/wrapper/web/src/themeStrategy/ThemeGenerator.js
Labels: infra

#724 [gallery]: update pro-gallery to latest
  CHANGELOG.md
  package-lock.json
  packages/plugin-gallery/web/package.json
  packages/plugin-gallery/web/src/gallery-component.jsx
  packages/plugin-gallery/web/src/gallery-viewer.jsx
Labels: in progress
