Repository wix/ricos, pull requests merged in 2020-05, with the labels that each got.

#958 Feat/action button
  CHANGELOG.md
  e2e/cypress/dataHooks.js
  e2e/tests/__snapshots__/plugins.e2e.js.snap
  e2e/tests/fixtures/action-button.json
  e2e/tests/fixtures/buttons.json
  e2e/tests/fixtures/link-button.json
  e2e/tests/plugins.e2e.js
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/shared/viewer/ViewerPlugins.jsx
  examples/main/src/Components/ContentStateEditor.jsx
  examples/storybook/stories/Components/EditorWrapper.js
  examples/storybook/stories/Components/ViewerWrapper.js
  examples/storybook/stories/Plugins/Buttons/ButtonsEditor.js
  examples/storybook/stories/Plugins/Buttons/ButtonsPluginStory.js
  examples/storybook/stories/Plugins/Buttons/ButtonsViewer.js
  examples/storybook/stories/Plugins/Buttons/index.js
  examples/storybook/stories/Plugins/index.js
  packages/common/web/src/consts.js
  packages/common/web/src/lib/contentStateValidator.jsx
  packages/common/web/statics/schemas/content-state.schema.json
  packages/plugin-button/web/src/components/button-sample.jsx
  packages/plugin-button/web/src/components/button-viewer.jsx
  packages/plugin-button/web/src/constants.js
  packages/plugin-button/web/src/createButtonPlugin.js
  packages/plugin-button/web/src/editor.js
  packages/plugin-button/web/src/index.js
  packages/plugin-button/web/src/toolbar/buttonInputModal.jsx
  packages/plugin-button/web/src/toolbar/createToolbar.js
  packages/plugin-button/web/src/toolbar/insert-buttons.jsx
  packages/plugin-button/web/src/typeMapper.js
  packages/plugin-button/web/src/viewer.js
  packages/preview/web/src/ContentStateAnalyzer/extractEntityData.js
  packages/preview/web/src/ContentStateBuilder/mergeEntityData.js
Labels: breakingWarning, in progress

#941 gallery settings panel tooltips
  CHANGELOG.md
  package-lock.json
  packages/editor-common/web/src/Components/Checkbox.jsx
  packages/editor-common/web/src/Components/InfoIcon.jsx
  packages/editor-common/web/src/Components/InputWithLabel.jsx
  packages/editor-common/web/src/Components/LinkPanel.jsx
  packages/editor-common/web/src/Components/RadioGroupHorizontal.jsx
  packages/editor-common/web/src/Components/SliderWithInput.jsx
  packages/editor-common/web/statics/styles/general.scss
  packages/editor-common/web/statics/styles/input-with-label.scss
  packages/editor-common/web/statics/styles/tooltip.scss
  packages/plugin-button/web/src/components/settings-component.jsx
  packages/plugin-gallery/web/src/components/gallery-controls/radio-groups.js
  packages/plugin-gallery/web/src/components/gallery-controls/sliders.js
  packages/plugin-image/web/src/toolbar/image-settings.js
Labels: in progress

#739 [editor](side toolbar) feature: new add blocks menu
  CHANGELOG.md
  e2e/cypress/dataHooks.js
  e2e/cypress/support/commands.js
  examples/main/shared/editor/Editor.jsx
  examples/storybook/stories/Components/EditorWrapper.js
  examples/storybook/stories/Toolbars/PluginMenuStory.js
  examples/storybook/stories/Toolbars/index.js
  examples/storybook/stories/index.js
  package-lock.json
  packages/common/web/statics/locale/messages_en.json
  packages/common/web/statics/styles/consts.scss
  packages/editor-common/web/src/Base/createBaseInsertPluginButton.jsx
  packages/editor-common/web/src/Utils/getModalStyles.js
  packages/editor-common/web/statics/styles/toolbar-button.scss
  packages/editor/web/src/RichContentEditor/Icons/ClearIcon.svg
  packages/editor/web/src/RichContentEditor/Icons/SearchIcon.svg
  packages/editor/web/src/RichContentEditor/Icons/index.js
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/editor/web/src/RichContentEditor/RichContentEditorModal.jsx
  packages/editor/web/src/RichContentEditor/TextSearchInput.js
  packages/editor/web/src/RichContentEditor/Toolbars/AddPluginModal.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/SideToolbar/AddPluginFloatingToolbar.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/SideToolbar/AddPluginMenu.js
  packages/editor/web/src/RichContentEditor/Toolbars/SideToolbar/PopupOffsetnHoc.js
  packages/editor/web/src/RichContentEditor/Toolbars/SideToolbar/SideToolbarPluginsSection.js
  packages/editor/web/src/RichContentEditor/Toolbars/SideToolbar/createSideToolbar.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/SideToolbar/utils.js
  packages/editor/web/src/RichContentEditor/Toolbars/StaticToolbar/createMobileToolbar.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/buttons/AddPluginButton.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/createEditorToolbars.js
  packages/editor/web/src/RichContentEditor/Toolbars/default-toolbar-settings.js
  packages/editor/web/src/RichContentEditor/pluginsSearchTags.js
  packages/editor/web/statics/styles/add-plugin-modal.scss
  packages/editor/web/statics/styles/footer-toolbar.scss
  packages/editor/web/statics/styles/inline-toolbar.rtlignore.scss
  packages/editor/web/statics/styles/side-toolbar-panel.scss
  packages/editor/web/statics/styles/side-toolbar.scss
  packages/editor/web/statics/styles/static-toolbar.scss
  packages/editor/web/statics/styles/text-search-input.scss
  packages/plugin-button/web/src/toolbar/insert-buttons.jsx
  packages/plugin-code-block/web/src/toolbar/codeBlockInsertButtons.js
  packages/plugin-divider/web/src/toolbar/insert-buttons.jsx
  packages/plugin-emoji/web/src/toolbar/insert-buttons.jsx
  packages/plugin-file-upload/web/src/toolbar/insert-file-upload-buttons.jsx
  packages/plugin-gallery/web/src/toolbar/insert-buttons.jsx
  packages/plugin-giphy/web/src/toolbar/insert-giphy-buttons.jsx
  packages/plugin-html/web/src/toolbar/insertButtons.js
  packages/plugin-image/web/src/toolbar/insert-buttons.jsx
  packages/plugin-link-preview/web/src/createLinkPreviewPlugin.js
  packages/plugin-link-preview/web/src/toolbar/createLinkPreviewToolbar.js
  packages/plugin-link-preview/web/src/toolbar/insert-buttons.jsx
  packages/plugin-map/web/src/toolbar/insert-buttons.jsx
  packages/plugin-sound-cloud/web/src/toolbar/insert-buttons.jsx
  packages/plugin-undo-redo/web/src/insert-buttons.jsx
  packages/plugin-vertical-embed/web/src/toolbar/insert-buttons.jsx
  packages/plugin-video/web/src/toolbar/insert-video-buttons.jsx
  plugins-bundle-analyzer/bundlesSizesBaseline.json
Labels: breakingWarning, in progress

#1004 [video] fix componentData for external video
  CHANGELOG.md
  examples/main/shared/editor/Editor.jsx
  packages/plugin-video/web/src/toolbar/videoSelectionInputModal.jsx
Labels: breakingWarning

#1016 GitHub action on merge pr new
  .github/workflows/commitAfterMerge.yml
  plugins-bundle-analyzer/bundlesSizesBaseline.json
  scripts/gitPRComment.js
Labels: in progress

#898 Text indentation
  CHANGELOG.md
  e2e/cypress/dataHooks.js
  e2e/cypress/support/commands.js
  e2e/tests/__snapshots__/text.e2e.js.snap
  e2e/tests/text.e2e.js
  examples/main/package.json
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/shared/theme/rich-content-editor.theme.scss
  package-lock.json
  packages/common/web/src/Utils/classNameStrategies.js
  packages/common/web/src/consts.js
  packages/common/web/src/index.js
  packages/common/web/statics/locale/messages_en.json
  packages/common/web/statics/styles/draftDefault.rtlignore.scss
  packages/editor-common/web/src/Utils/draftUtils.js
  packages/editor-common/web/src/consts.js
  packages/editor-common/web/src/index.js
  packages/editor/web/src/RichContentEditor/Icons/IndentIcon.jsx
  packages/editor/web/src/RichContentEditor/Icons/index.js
  packages/editor/web/src/RichContentEditor/Toolbars/buttons/TextButtons.js
  packages/editor/web/src/RichContentEditor/Toolbars/buttons/index.js
  packages/editor/web/src/RichContentEditor/Toolbars/buttons/utils/getTextButtonsFromList.js
  packages/editor/web/src/RichContentEditor/blockStyleFn.js
  packages/editor/web/src/RichContentEditor/handleKeyCommand.js
  packages/editor/web/statics/styles/rich-content-editor.scss
  packages/plugin-indent/web/package.json
  packages/plugin-indent/web/src/createIndentPlugin.js
  packages/plugin-indent/web/src/defaults.js
  packages/plugin-indent/web/src/editor.js
  packages/plugin-indent/web/src/icons/decreaseIndentPluginIcon.svg
  packages/plugin-indent/web/src/icons/increaseIndentPluginIcon.svg
  packages/plugin-indent/web/src/index.js
  packages/plugin-indent/web/src/toolbar/IndentButtons.jsx
  packages/plugin-indent/web/src/toolbar/createToolbar.js
  packages/plugin-indent/web/src/toolbar/index.js
  packages/plugin-indent/web/src/types.js
  packages/plugin-indent/web/src/viewer.js
  packages/plugin-indent/web/statics/styles/indent.scss
  packages/viewer/web/src/List.jsx
  packages/viewer/web/src/utils/convertContentState.jsx
  packages/viewer/web/statics/rich-content-viewer.scss
  plugins-bundle-analyzer/bundlesSizesBaseline.json
  plugins-bundle-analyzer/package.json
  plugins-bundle-analyzer/src/wix-rich-content-plugin-indent.js
Labels: breakingWarning, in progress

#1018 [plugin-menu] internal: e2e test for plugin menu
  e2e/cypress/support/commands.js
  e2e/cypress/testAppConfig.js
  e2e/test-env/src/client/TestApp.jsx
  e2e/test-env/src/client/index.jsx
  e2e/test-env/src/server/renderer.jsx
  e2e/test-env/src/server/views/index.ejs
  e2e/tests/fixtures/newLines.json
  e2e/tests/pluginMenu.e2e.js
  e2e/tests/plugins.e2e.js
  e2e/tests/text.e2e.js
  examples/main/shared/RichContentApp.jsx
  examples/main/shared/editor/Editor.jsx
Labels: breakingWarning

#1059 hotfix: getToolbarSettings Api fix
  CHANGELOG.md
  examples/main/shared/editor/Editor.jsx
  examples/main/shared/editor/EditorPlugins.jsx
  examples/storybook/stories/Toolbars/PluginMenuStory.js
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
Labels: breakingWarning

#1057 [test-env]plugin config: test link preview on different config
  e2e/cypress/testAppConfig.js
  e2e/tests/__snapshots__/plugins.e2e.js.snap
  e2e/tests/plugins.e2e.js
  examples/main/shared/editor/Editor.jsx
Labels: breakingWarning

#1083 [exampleApp-viewer] fix: remove dashed border from linkable items
  examples/main/shared/theme/plugin-link.theme.scss
Labels: breakingWarning

#1084 Feat/external toolbar
  CHANGELOG.md
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/src/Components/ExternalToolbar.jsx
  examples/main/src/Components/ExternalToolbar.scss
  examples/main/src/Components/index.js
  examples/main/src/ExampleApp.jsx
  examples/main/src/styles.global.scss
  examples/storybook/stories/Components/InitialIntentToolbar.css
  examples/storybook/stories/Components/InitialIntentToolbar.js
  examples/storybook/stories/TestCase/GroupsStory.js
  examples/storybook/stories/TestCase/GroupsStory.scss
  packages/editor-common/web/src/Base/createBaseInsertPluginButton.jsx
  packages/editor-common/web/src/Base/createBasePlugin.jsx
  packages/editor-common/web/src/Components/Tooltip.jsx
  packages/editor-common/web/src/Icons/DropdownArrowIcon.jsx
  packages/editor-common/web/src/Utils/generateInsertPluginButtonProps.js
  packages/editor-common/web/src/consts.js
  packages/editor-common/web/src/index.js
  packages/editor/web/package.json
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/createEditorToolbars.js
  packages/editor/web/src/RichContentEditor/Toolbars/default-toolbar-settings.js
  packages/editor/web/src/RichContentEditor/createPlugins.jsx
  packages/editor/web/src/emitter.js
  packages/editor/web/src/index.js
  packages/editor/web/src/withPluginButtons.js
  packages/editor/web/src/withPluginButtons.jsx
  packages/plugin-code-block/web/src/createCodeBlockPlugin.js
  packages/plugin-image/web/src/icons/InsertPluginIcon.jsx
  packages/plugin-link-preview/web/src/createLinkPreviewPlugin.js
  packages/plugin-undo-redo/web/src/insert-buttons.jsx
  packages/wrapper/web/package.json
  rollup.config.common.js
  rollup.config.dynamic-import.js
  rollup.config.js
Labels: breakingWarning

#1093 [viewer] bi(callbacks): onExpand image & gallery
  CHANGELOG.md
  examples/main/shared/preview/Preview.jsx
  examples/main/shared/viewer/Viewer.jsx
  packages/plugin-gallery/web/src/gallery-viewer.jsx
  packages/plugin-image/web/src/image-viewer.jsx
  packages/wrapper/web/tsconfig.json
Labels: breakingWarning

#1090 Removal of buggy inline images by normalizezr
  CHANGELOG.md
  e2e/tests/fixtures/legacy/inline-image.json
  examples/storybook/stories/Components/ViewerWrapper.js
  examples/storybook/stories/TestCase/NormalizerStory.js
  examples/storybook/stories/TestCase/index.js
  packages/common/web/src/Utils/normalization/Fixtures/index.js
  packages/common/web/src/Utils/normalization/Fixtures/inlineImageContentState.js
  packages/common/web/src/Utils/normalization/Fixtures/inlineLegacyImageContentState.js
  packages/common/web/src/Utils/normalization/Fixtures/processedInlineImageContentState.js
  packages/common/web/src/Utils/normalization/inlineImageRemover.js
  packages/common/web/src/Utils/normalization/normalizeInitialState.spec.js
  packages/common/web/src/Utils/normalization/processContentState.js
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/viewer/web/src/RichContentViewer.jsx
Labels: in progress

#1113 fix: tooltips don't render in the correct language
  CHANGELOG.md
  examples/main/shared/viewer/Viewer.jsx
Labels: breakingWarning

#1114 fix/video-test
  e2e/tests/media.e2e.js
Labels: in progress

#1116 [viewer] improve(bi): onViewerAction -> onAction
  CHANGELOG.md
  examples/main/shared/viewer/Viewer.jsx
  packages/plugin-gallery/web/src/gallery-viewer.jsx
  packages/plugin-image/web/src/image-viewer.jsx
Labels: breakingWarning

#1115 [ricos-editor] improve(API): getContent + onChange
  CHANGELOG.md
  docs/docs/ricos/ricos-api.mdx
  e2e/test-env/src/client/WrapperTestApp/WrapperTestApp.jsx
  examples/main/shared/RichContentApp.jsx
  examples/storybook/stories/Components/EditorWrapper.js
  examples/storybook/stories/Components/ExampleApplication.js
  examples/storybook/stories/Preview/PreviewStory.js
  examples/storybook/stories/TestCase/GroupsStory.js
  packages/ricos-editor/web/src/RicosEditor.tsx
  packages/ricos-editor/web/src/editorUtils.ts
  packages/ricos-viewer/web/src/RicosTypes.ts
Labels: breakingWarning

#1098 [vertical-embed] add items list to modal
  e2e/cypress/dataHooks.js
  e2e/tests/__snapshots__/plugins.e2e.js.snap
  e2e/tests/fixtures/vertical-embed.json
  e2e/tests/plugins.e2e.js
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/shared/editor/Utils/mockBookingsData.js
  examples/main/shared/editor/Utils/mockEventsData.js
  examples/main/shared/editor/Utils/mockProductsData.js
  packages/editor-common/web/src/Components/ItemsDropdown.js
  packages/editor-common/web/src/Modals/UrlInputModal.js
  packages/editor-common/web/statics/styles/url-input-modal.scss
  packages/plugin-vertical-embed/web/src/toolbar/ModalCustomStyles.js
  packages/plugin-vertical-embed/web/src/toolbar/inline-buttons.jsx
  packages/plugin-vertical-embed/web/src/toolbar/itemsList/Item.js
  packages/plugin-vertical-embed/web/src/toolbar/itemsList/ItemsList.js
  packages/plugin-vertical-embed/web/src/toolbar/postSelectionInputModal.jsx
  packages/plugin-vertical-embed/web/statics/styles/item.scss
  packages/plugin-vertical-embed/web/statics/styles/items-list.scss
  packages/plugin-vertical-embed/web/statics/styles/vertical-embed-modal.scss
Labels: breakingWarning

#901 [plugin-headings] feat: Adding plugin headings with dropdown option
  CHANGELOG.md
  e2e/cypress/testAppConfig.js
  e2e/test-env/package.json
  e2e/tests/__snapshots__/plugins.e2e.js.snap
  e2e/tests/fixtures/headings.json
  e2e/tests/plugins.e2e.js
  e2e/tests/text.e2e.js
  examples/main/package.json
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/shared/editor/ModalsMap.jsx
  examples/main/shared/theme/toolbars/inline-toolbar.theme.scss
  examples/storybook/package.json
  examples/storybook/stories/Components/EditorWrapper.js
  examples/storybook/stories/Components/StoryParts.js
  examples/storybook/stories/Plugins/Headings/HeadingsEditor.js
  examples/storybook/stories/Plugins/Headings/HeadingsPluginStory.js
  examples/storybook/stories/Plugins/Headings/index.js
  examples/storybook/stories/Plugins/index.js
  examples/storybook/stories/styles.global.scss
  packages/common/web/src/consts.js
  packages/common/web/src/index.js
  packages/editor-common/web/src/Components/Dropdown.jsx
  packages/editor-common/web/src/Components/InlineToolbarButton.jsx
  packages/editor-common/web/src/Icons/DropdownArrowIcon.jsx
  packages/editor-common/web/src/Icons/DropdownArrowIcon.svg
  packages/editor-common/web/src/Icons/index.js
  packages/editor-common/web/src/consts.js
  packages/editor-common/web/src/index.js
  packages/editor-common/web/statics/styles/inline-toolbar-button.scss
  packages/editor/web/src/RichContentEditor/Toolbars/StaticToolbar/createMobileToolbar.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/buttons/utils/getTextButtonsFromList.js
  packages/editor/web/statics/styles/footer-toolbar.scss
  packages/editor/web/statics/styles/inline-toolbar-dropdown-button.scss
  packages/editor/web/statics/styles/mobile-toolbar-button.scss
  packages/editor/web/statics/styles/static-toolbar.scss
  packages/editor/web/statics/styles/text-static-toolbar.scss
  packages/plugin-headings/web/package.json
  packages/plugin-headings/web/src/createHeadingsPlugin.js
  packages/plugin-headings/web/src/editor.js
  packages/plugin-headings/web/src/index.js
  packages/plugin-headings/web/src/modals.js
  packages/plugin-headings/web/src/toolbar/HeadingButton.jsx
  packages/plugin-headings/web/src/toolbar/HeadingPanel.jsx
  packages/plugin-headings/web/src/toolbar/createToolbar.js
  packages/plugin-headings/web/src/toolbar/modalStyles.js
  packages/plugin-headings/web/src/types.js
  packages/plugin-headings/web/statics/styles/headingButtonStyles.scss
  packages/plugin-headings/web/statics/styles/panelStyles.scss
  packages/plugin-line-spacing/web/src/defaults.js
  packages/plugin-line-spacing/web/src/editor.js
  packages/plugin-line-spacing/web/src/viewer.js
  packages/ricos-viewer/web/src/themeStrategy/themes/editor-common.ts
  plugins-bundle-analyzer/bundlesSizesBaseline.json
  plugins-bundle-analyzer/package.json
  plugins-bundle-analyzer/src/wix-rich-content-plugin-headings.js
Labels: breakingWarning

#1155 [link-preview] internal: cleanup unused config
  docs/infra/editor/config/EditorConfig.jsx
  e2e/tests/fixtures/link-preview.json
  e2e/tests/fixtures/linkPreview.json
  examples/main/shared/editor/EditorPlugins.jsx
  examples/storybook/stories/Plugins/LinkPreview/LinkPreviewEditor.js
  packages/plugin-link-preview/web/src/consts.js
  packages/plugin-link-preview/web/src/defaults.js
  packages/plugin-link-preview/web/src/lib/utils.js
  packages/plugin-link-preview/web/src/toolbar/embedURLInputModal.jsx
  packages/plugin-link/web/src/defaults.js
Labels: breakingWarning

#1164 [siteDomain] move siteDomain prop to html plugin config
  docs/docs/plugins_api/PluginCustomization.md
  docs/infra/editor/config/EditorConfig.jsx
  examples/main/shared/editor/Editor.jsx
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/shared/viewer/Viewer.jsx
  examples/main/shared/viewer/ViewerPlugins.jsx
  packages/common/web/src/index.js
  packages/editor-common/web/src/Base/createBaseComponent.jsx
  packages/editor-common/web/src/Base/createBasePlugin.jsx
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/plugin-html/web/src/HtmlComponent.jsx
  packages/viewer/web/src/List.jsx
  packages/viewer/web/src/RichContentViewer.jsx
  packages/viewer/web/src/getPluginViewers.jsx
Labels: breakingWarning

#1174 Fetch verticals on mount
  examples/main/shared/editor/EditorPlugins.jsx
  examples/storybook/stories/Plugins/VerticalEmbed/VerticalEmbedEditor.js
  examples/storybook/stories/Plugins/apiData.js
  packages/plugin-vertical-embed/web/src/toolbar/postSelectionInputModal.jsx
Labels: breakingWarning
