Repository wix/ricos, pull requests merged in 2020-03, with the labels that each got.

#675 [bi-events] feat: infrastructure for events of plugins usage
  CHANGELOG.md
  examples/main/config/biService.js
  examples/main/shared/editor/Editor.jsx
  examples/main/shared/editor/EditorPlugins.jsx
  packages/editor-common/web/src/Base/createBaseInsertPluginButton.jsx
  packages/editor-common/web/src/Utils/draftUtils.js
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/SideToolbar/AddPluginFloatingToolbar.jsx
  packages/editor/web/src/RichContentEditor/Toolbars/StaticToolbar/StaticToolbar.jsx
Labels: infra

#735 [editor] fix: remove inline image from pasted content and prevent pas…
  CHANGELOG.md
  packages/editor/web/package.json
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/editor/web/src/RichContentEditor/utils/pastedContentConfig.js
  packages/editor/web/src/RichContentEditor/utils/rgbToHex.js
  rollup.plugins.js
Labels: in progress

#756 fix: when canceling link panel the selection jump
  CHANGELOG.md
  packages/editor-common/web/src/Components/LinkPanelContainer.jsx
  packages/plugin-link/web/src/toolbar/TextLinkPanel.jsx
Labels: in progress

#753 feat(wrapper): Dynamic Import + Bundle Size shrink
  babel.config.js
  examples/main/config/biService.js
  examples/main/shared/editor/Editor.jsx
  examples/storybook/src/ThemeWrapper.js
  examples/storybook/stories/Components/EditorWrapper.js
  examples/storybook/stories/Components/ViewerWrapper.js
  examples/storybook/stories/Plugins/DividerEditor.js
  examples/storybook/stories/Plugins/GalleryPlugin.js
  examples/storybook/stories/Wrapper/WrapperBaiscUsage.js
  package-lock.json
  package.json
  packages/editor/web/src/RichContentEditor/I18nRichContentEditor.jsx
  packages/plugin-gallery/web/src/gallery-viewer.jsx
  packages/wrapper/web/package.json
  packages/wrapper/web/src/EngineWrapper.jsx
  packages/wrapper/web/src/RichContentWrapper.js
  packages/wrapper/web/src/lib/EditorModal.js
  packages/wrapper/web/src/lib/EngineWrapper.js
  packages/wrapper/web/src/localeStrategy/localeStrategyProvider.js
  packages/wrapper/web/src/localeStrategy/localeStrategyProvider.spec.js
  plugins-bundle-analyzer/src/RichContentViewerWrapper.js
  plugins-bundle-analyzer/src/viewer-with-wrapper.js
Labels: infra

#768 fix(wrapper): handle empty initial state
  e2e/tests/plugins.e2e.js
  packages/wrapper/web/src/EngineWrapper.js
Labels: infra

#772 fix(wrapper): onChange not called
  package-lock.json
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/wrapper/web/src/EngineWrapper.js
  rollup.config.common.js
Labels: infra

#773 fix(storybook + wrapper): cjs files & npm run watch
  packages/fullScreen/web/package.json
  rollup.config.common.js
Labels: infra

#774 Add Labeler action for breaking change detection
  .github/labeler.yml
  .github/workflows/label.yml
Labels: breakingWarning

#796 [wrapper] improve(RichContentWrapper): tests
  examples/storybook/package.json
  package.json
  packages/editor/web/src/RichContentEditor/RichContentEditor.jsx
  packages/wrapper/web/package.json
  packages/wrapper/web/src/EngineWrapper.js
  packages/wrapper/web/src/RichContentWrapper.spec.js
Labels: infra

#803 [wrapper] improve(theming): footer & link fix
  examples/main/shared/theme/text-link.theme.scss
  package-lock.json
  packages/plugin-link/web/src/createLinkPlugin.js
  packages/wrapper/web/src/themeStrategy/ThemeGenerator.js
Labels: infra

#805 Fix/text color mobile
  CHANGELOG.md
  examples/main/shared/editor/Editor.jsx
  packages/plugin-text-color/web/src/toolbar/BaseTextColor.jsx
Labels: breakingWarning

#720 [editor] house: fix mobile example app styles issues
  CHANGELOG.md
  examples/main/shared/editor/Editor.jsx
Labels: breakingWarning, in progress

#817 [wrapper] fix(localeStrategy): removed override of props
  CHANGELOG.md
  packages/wrapper/web/src/localeStrategy/localeStrategyProvider.js
Labels: infra

#818 [wrapper + storybook] fix(plugins): removed empty typeMappers & updated storybook example
  CHANGELOG.md
  e2e/tests/fixtures/intro.json
  packages/plugin-text-color/web/src/viewer.js
Labels: infra

#778 [plugins] fix fullwidth
  CHANGELOG.md
  e2e/cypress/support/commands.js
  e2e/tests/__snapshots__/plugins.e2e.js.snap
  e2e/tests/plugins.e2e.js
  package-lock.json
  packages/common/web/statics/styles/general.rtlignore.scss
Labels: in progress

#819 [wrapper] improve(css-infrastructure): replace "aphrodite" with "jss"
  CHANGELOG.md
  packages/plugin-mentions/web/src/defaultSettings.js
  packages/wrapper/web/package.json
  packages/wrapper/web/src/ModalRenderer.js
  packages/wrapper/web/src/themeStrategy/ThemeGenerator.js
  packages/wrapper/web/src/themeStrategy/themeStrategyProvider.js
Labels: infra

#835 [*] fix: all images with size 'fullwidth' are positioned correctly
  CHANGELOG.md
  examples/main/shared/theme/global.theme.scss
Labels: breakingWarning

#826 Html initial state
  CHANGELOG.md
  e2e/cypress/support/commands.js
  package-lock.json
  packages/common/web/statics/locale/messages_en.json
  packages/plugin-html/web/src/HtmlComponent.jsx
  packages/plugin-html/web/src/constants.js
  packages/plugin-html/web/src/createHtmlPlugin.js
  packages/plugin-html/web/src/editor.js
  packages/plugin-html/web/src/toolbar/insertButtons.js
Labels: in progress

#850 [examples] fix performance
  CHANGELOG.md
  e2e/test-env/src/client/TestApp.jsx
  e2e/test-env/webpack.config.js
  e2e/tests/plugins.e2e.js
  examples/main/shared/RichContentApp.jsx
  examples/main/shared/editor/Editor.jsx
  examples/main/shared/viewer/Viewer.jsx
  examples/main/src/Components/ContentStateEditor.jsx
  examples/main/src/Components/Fab.jsx
  examples/main/src/Components/SectionHeader.jsx
  examples/main/src/Components/index.js
  examples/main/src/ExampleApp.jsx
  examples/main/src/utils.js
  package-lock.json
  package.json
  packages/plugin-link-preview/web/package.json
Labels: breakingWarning

#859 Fix video/soundcloud url test
  e2e/tests/plugins.e2e.js
  examples/main/shared/editor/Editor.jsx
Labels: breakingWarning

#858 [link-preview]: internal- move link preview fetch data to wix wrapper
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/shared/utils/linkPreviewUtil.js
  examples/storybook/stories/Components/EditorWrapper.js
  examples/storybook/stories/Plugins/LinkPreview.js
  packages/plugin-link-preview/web/src/editor.js
  packages/plugin-link-preview/web/src/lib/fetchLinkPreviewData.js
Labels: breakingWarning

#868 [feat] save on click outside in html-plugin
  CHANGELOG.md
  packages/plugin-html/web/src/toolbar/HtmlEditPanel.jsx
Labels: in progress

#866 Isolated app2
  e2e/cypress/support/commands.js
  e2e/test-env/src/client/IsolatedTestApp.jsx
  e2e/test-env/src/client/TestApp.jsx
  e2e/test-env/src/client/WindowContentStateHoc.jsx
  e2e/test-env/src/client/index.jsx
  e2e/test-env/src/server/renderer.jsx
  e2e/test-env/src/server/views/index.ejs
  e2e/tests/__snapshots__/text.e2e.js.snap
  e2e/tests/renderingSsr.e2e.js
  e2e/tests/text.e2e.js
  examples/main/shared/RichContentApp.jsx
  examples/main/src/index.js
Labels: breakingWarning

#689 Embed Plugin (inline)
  CHANGELOG.md
  e2e/cypress/support/commands.js
  e2e/test-env/src/server/views/index.ejs
  e2e/tests/__snapshots__/plugins.e2e.js.snap
  e2e/tests/constants.js
  e2e/tests/fixtures/linkPreview.json
  e2e/tests/plugins.e2e.js
  examples/main/shared/editor/EditorPlugins.jsx
  examples/main/shared/utils/linkPreviewUtil.js
  examples/main/shared/viewer/ViewerPlugins.jsx
  examples/storybook/stories/Plugins/LinkPreview.js
  examples/storybook/stories/Plugins/LinkPreviewEditor.js
  examples/storybook/stories/Plugins/LinkPreviewStory.js
  examples/storybook/stories/Plugins/LinkPreviewViewer.js
  examples/storybook/stories/Plugins/index.js
  packages/plugin-html/web/src/lib/HtmlComponent.js
  packages/plugin-link-preview/web/package.json
  packages/plugin-link-preview/web/src/LinkPreviewViewer.jsx
  packages/plugin-link-preview/web/src/defaults.js
  packages/plugin-link-preview/web/src/lib/utils.js
Labels: breakingWarning
