Repository wix/ricos, pull requests merged in 2021-02, with the labels that each got.

#2073 fix isContentChanged
  examples/main/shared/RichContentApp.tsx
  examples/main/src/ExampleApp.tsx
  examples/storybook/stories/Ricos/RicosBasicUsage.tsx
  examples/storybook/stories/Ricos/RicosStaticToolbar.tsx
  packages/editor/web/src/RichContentEditor/RichContentEditor.tsx
  packages/editor/web/src/is-content-changed.ts
  packages/ricos-common/web/src/RicosTypes.ts
  packages/ricos-content/web/src/index.ts
  packages/ricos-editor/web/src/RicosEditor.tsx
  packages/ricos-editor/web/src/utils/editorUtils.ts
Labels: breakingWarning

#2113 [inner-rce] support spoiler plugin
  examples/main/shared/editor/EditorPlugins.tsx
  packages/common/web/src/Utils/innerRCEBlocksUtils.js
  packages/common/web/src/index.ts
  packages/plugin-spoiler/web/src/spoilerInlineStyleMapper.tsx
  packages/plugin-spoiler/web/src/toolbar/createToolbar.ts
  packages/plugin-text-color/web/src/textColorInlineStyleMapper.tsx
  packages/plugin-text-color/web/src/textHighlightInlineStyleMapper.tsx
Labels: breakingWarning

#2090 [ricos-editor] feat(callbacks): onPluginAddStep
  CHANGELOG.md
  examples/main/shared/editor/Editor.tsx
  packages/common/web/src/types/biCallbacksTypes.ts
  packages/plugin-commons/web/src/Utils/generateInsertPluginButtonProps.ts
Labels: breakingWarning

#2151 Use new content in example app
  CHANGELOG.md
  bundle-analyzer/analyzeBundles.ts
  bundle-analyzer/bundlesSizesBaseline.json
  bundle-analyzer/src/rich-content-schema.tsx
  examples/main/shared/RichContentApp.tsx
  examples/main/shared/editor/Editor.tsx
  examples/main/shared/editor/EditorPlugins.tsx
  examples/main/shared/viewer/Viewer.tsx
  examples/main/shared/viewer/ViewerPlugins.ts
  examples/main/src/Components/ContentStateEditor.tsx
  examples/main/src/ExampleApp.tsx
  examples/main/src/styles.global.scss
  packages/ricos-content/web/src/migrateSchema/fromDraft/fromDraft.spec.ts
  packages/ricos-content/web/src/migrateSchema/fromDraft/fromDraft.ts
Labels: breakingWarning

#2069 [full-screen] feat: allow expand in innerce images
  CHANGELOG.md
  bundle-analyzer/bundlesSizesBaseline.json
  e2e/tests/__snapshots__/media.e2e.js.snap
  e2e/tests/fixtures/inner-rce-images.json
  e2e/tests/media.e2e.js
  examples/main/shared/preview/Preview.tsx
  examples/main/shared/viewer/Viewer.tsx
  packages/fullScreen/web/lib/getImagesData.js
  packages/plugin-gallery/web/src/gallery-viewer.jsx
  packages/plugin-image/web/src/image-viewer.jsx
  packages/ricos-viewer/web/src/modals/fullscreen/FullscreenProvider.tsx
  packages/viewer/web/src/getPluginViewers.jsx
Labels: breakingWarning

#2184 [image plugin] thumbnail quality by experiment
  CHANGELOG.md
  packages/plugin-image/web/src/image-viewer.jsx
Labels: auto pr

#2181 Add missing styles to bundle analyzer
  bundle-analyzer/analyzeBundles.ts
  bundle-analyzer/bundlesSizesBaseline.json
  bundle-analyzer/src/RichContentViewerWrapper.tsx
  bundle-analyzer/src/createViewerBundle.tsx
  bundle-analyzer/src/wix-rich-content-plugin-accordion.tsx
  bundle-analyzer/src/wix-rich-content-plugin-button.tsx
  bundle-analyzer/src/wix-rich-content-plugin-code-block.tsx
  bundle-analyzer/src/wix-rich-content-plugin-divider.tsx
  bundle-analyzer/src/wix-rich-content-plugin-emoji.tsx
  bundle-analyzer/src/wix-rich-content-plugin-file-upload.tsx
  bundle-analyzer/src/wix-rich-content-plugin-gallery.tsx
  bundle-analyzer/src/wix-rich-content-plugin-giphy.tsx
  bundle-analyzer/src/wix-rich-content-plugin-hashtag.tsx
  bundle-analyzer/src/wix-rich-content-plugin-headers-markdown.tsx
  bundle-analyzer/src/wix-rich-content-plugin-headings.tsx
  bundle-analyzer/src/wix-rich-content-plugin-html.tsx
  bundle-analyzer/src/wix-rich-content-plugin-image.tsx
  bundle-analyzer/src/wix-rich-content-plugin-indent.tsx
  bundle-analyzer/src/wix-rich-content-plugin-line-spacing.tsx
  bundle-analyzer/src/wix-rich-content-plugin-link-preview.tsx
  bundle-analyzer/src/wix-rich-content-plugin-link.tsx
  bundle-analyzer/src/wix-rich-content-plugin-map.tsx
  bundle-analyzer/src/wix-rich-content-plugin-mentions.tsx
  bundle-analyzer/src/wix-rich-content-plugin-social-polls.tsx
  bundle-analyzer/src/wix-rich-content-plugin-sound-cloud.tsx
  bundle-analyzer/src/wix-rich-content-plugin-spoiler.tsx
  bundle-analyzer/src/wix-rich-content-plugin-table.tsx
  bundle-analyzer/src/wix-rich-content-plugin-text-color.tsx
  bundle-analyzer/src/wix-rich-content-plugin-undo-redo.tsx
  bundle-analyzer/src/wix-rich-content-plugin-vertical-embed.tsx
  bundle-analyzer/src/wix-rich-content-plugin-video.tsx
  examples/main/shared/preview/Preview.tsx
  examples/storybook/stories/Components/Palette.tsx
  examples/storybook/stories/Components/StoryParts.tsx
  examples/storybook/stories/Components/ViewerWrapper.tsx
  examples/storybook/stories/Plugins/Gallery/galleryViewer.tsx
  examples/storybook/stories/TestCase/ExternalUndoStory.tsx
  packages/preview/web/src/Interactions/interactionMap.tsx
  packages/ricos-content/web/src/migrateSchema/fromDraft/fromDraft.ts
Labels: breakingWarning

#2206 Fullscreen css not extracted anymore
  CHANGELOG.md
  bundle-analyzer/analyzePlugin.ts
  examples/main/shared/preview/Preview.tsx
  examples/main/shared/viewer/Viewer.tsx
  packages/fullScreen/web/package.json
  packages/ricos-viewer/web/src/styles.css
  rollup.config.common.ts
  rollup.plugins.ts
Labels: breakingWarning

#2220 @oded-soffrin [viewer] optimization(translations): skip redundant remount
  CHANGELOG.md
  e2e/cypress/support/commands.js
  e2e/tests/rendering.e2e.js
  e2e/tests/renderingSsr.e2e.js
  examples/main/shared/theme/theme.ts
  packages/ricos-viewer/web/src/RicosViewer.tsx
Labels: auto pr, breakingWarning

#2225 [color-picker] feat : Add picker positioning override setting
  CHANGELOG.md
  examples/main/shared/editor/EditorPlugins.tsx
  packages/plugin-text-color/web/src/toolbar/BaseTextColor.jsx
  website/docs/plugins_api/TextColorAndHighlightPlugins.mdx
Labels: breakingWarning
